<header class="banner navbar navbar-default navbar-static-top" role="banner" data-transparent-header="true">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="logo">
                <a href="index.html">
                    <img class="logo-trans logo-reg" src="images/att_logo.png" height="56" width="56" alt="AT&amp;T | DCAE App">
                </a>
            </div>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul id="menu-primary-navigation" class="nav navbar-nav">
                <li class="active menu-home">
                    <a title="home" href="index.html">Home</a>
                </li>
                <li class="menu-contact">
                    <a title="Contact Us" href="contactUs.html">Contact Us</a>
                </li>
                <li style="margin-right:-30px"><!-- class="menu-contact"-->
                    <a title="Login" href="login.html">Login</a>
                </li>
                <li class="menu-contact">
                    <a href="index.html">|</a>
                </li>
                <li style="margin-left:-28px"><!-- class="menu-contact"-->
                    <a title="Sign Up" href="signUp.html">Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
